*{
    font-family: Helvetica;
    padding:0;
    margin:0
    line-height:20px;
    /* border:1px solid black; */
}

#container-navigation{
    /* background-color:#F1F3FF; */
}

#hero{
    padding:25px 136px;
    height:500px;
    background-color:#F1F3FF;
    position:relative;
}


#layer{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.3s ease;
}

.navbar-brand{
    background-color:#0D28A6;
    width:100px;
    height:34px;
}

#sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
    background-color: white;
    opacity: 0.1;
    z-index: -1;
}


#layer.active {
    opacity: 0.4;
    z-index: 1;
}

#sidebar.active{
    opacity: 1;
    z-index: 2;
}

.display{
    display:block;
}

.none{
    display:none;
}

#container-sidebar{
    z-index:4;
    background-color:#0D28A6;
}

#navbarNav ul li{
    padding:0 10px;
    font-weight: 400;
    font-size: 14px;
    line-height:20px;
}

#navbarNav ul li button{
    margin-top:-5px;
}

#navbarNav ul .register-button{
    background-color:#5CB85F;
    font-weight:700;
    border-radius:2px;
}

#navbarNav ul .register-button a{
    color:white;
}

#hero-image{
    position:absolute;
    right:0;
    bottom:0;
}

#hero-image img{
    width:704px;
    height:407px;
}

#hero-text{
    position:absolute;
    bottom:60px;
}

#hero-text h1{
    font-weight:700;
    font-size:36px;
    margin-bottom:20px;
}

#hero-text a{
    background-color:#5CB85F;
    display:inline-block;
    color:white;
    padding:8px 12px;
    border-radius:2px;
    font-weight:700;
    margin-top:20px;
}

#main{
    margin-top:100px;
    padding:25px 136px;
    height:500px;
    position:relative;
    display:flex;
    gap:24px;
}

#main-image img{
    width:429px;
    height:428px;
}

#main-content{
    width:468px;
    padding:30px;
    height:356px;
}

#main-content ul{
    list-style-type:none;
    margin-left:-30px;
}

#main-content ul li{
    margin-bottom:20px;
}

#main-content ul li span{
    margin-left:10px;
}

#main h2{
    font-weight:700; 
    margin-bottom:20px;  
}

#why-us{
    margin-top:100px;
    padding:25px 136px;
}

#why-us h2{
    font-size:24px;
    font-weight:700;
    margin-bottom:20px;
}

#card img{
    width:32px;
    margin-left:15px;
}

#card .card-title{
    font-size:16px;
    font-weight:700;
    margin: 10px 0;
}

#card .card-text{
    font-size:14px;
}

#card-container .card-body{
    height:120px;
}

#testimonial {
    width:832px;
    margin:auto;
    text-align:center;
    margin-top:100px;
}

#testimonial h2{
    font-size:24px;
    font-weight:700;
    margin-bottom:20px;
}

#testimonial .review{
    background-color:blue;   
}

#carouselExample{
    height:260px;
}

#carouselExample button img{
    width:56.77px;
    height:68px;
}

.carousel-item div{
    background-color:#CFD4ED;
    height:270px;
    display:flex;
    border-radius:8px;
}

.carousel-item div p{
    margin:auto;
    font-size:26px;
    font-weight:700;
    color:#AEB7E1;
}

#started {
    height:326px;
    background-color: #0D28A6;
    margin:136px 200px;
    border-radius:13px;
    display:flex;
}

#container-started{
    margin:auto;
    text-align:center;
}

#container-started h2{
    font-weight:700;
    font-size:36px;
    color:white;
    margin-bottom:20px;
}

#container-started p{
    color:white;
    font-size:14px;
    margin:auto;
    font-weight:300;
    width:468px;
}

#rentcar{
    background-color:#5CB85F;
    color:white;
    width:140px;
    padding:10px;
    margin:auto;
    border-radius:2px;
    font-size:14px;
    font-weight:700;
    margin-top:30px;
}

#fqa {
    margin:136px 200px;
    height:500px;
}

#container-fqa{
    display:flex;
    flex-wrap:wrap;
}

#container-fqa div{
    width:50%;
    height:500px;
}

#left-fqa h2{
    font-size:24px;
    font-weight:700;
}

#left-fqa p{
    font-size:14px;
}

#right-fqa button{
    width:100%;
    display:inline-block;
    margin:10px;
    border:1px solid black;
    height:50px;
    font-size:14px;
}

#footer{
    margin:136px 200px 0 200px;
    height:300px;
}

#container-footer{
    display:flex;
    flex-wrap:wrap;
}

#container-footer div{
    height:300px;
    width:calc(100%/4);
}

#container-footer div p{
    font-size:14px;
}

#container-footer div .social{
    width:100%;
}

#container-footer div .social img{
    margin-right:15px;
    width:32px;
}

#container-footer #copyright{
    background-color:#0D28A6;
    width:100px;
    height:34px;
    display:inline-block;
}